<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.by122006library">

    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>

    </application>

</manifest>
